@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {
    background-color: var(--background-color);
    background-image: url(../images/bg-pattern-bottom.svg);
    font-family: "Kumbh Sans", sans-serif;
    color: var(--text-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--card-color);
    width: 370px;
    height: 400px;
    border-radius: 15px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
    gap: 15px;
}

.profile img {
    border-radius: 50%;
}

.profile .name {
    font-weight: 800;
    font-size: 20px;
}

.profile .name .age {
    font-weight: 500;
    font-size: 20px;
    padding-left: 5px;
}

.profile .city {
    font-size: 16px;
}

.stats {
    display:flex;
    justify-content: space-around;
    padding-inline: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.stats .info .stat {
    font-weight: 700;
    font-size: 20px;
}

.stats .info .category {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 5px;
}